  <div class="row feed">

 <div class="col-md-4">
 <br><br>
 <br><br>

                <div class="container">
                  <div class="row" style="margin-top:20px">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <form role="form">
                        <fieldset>
                            <h2> Forgot Password</h2>
                            <hr class="colorgraph">
                            <div class="form-group">
                            <div class="well well-sm">
                               <input type="text" class="form-control" size="30" placeholder="enter email" ng-model="email"><br>
                               </div>
                                <button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
                                </div>
                              </fieldset>
                             </form>
                            </div>
                          </div>
                        </div>
                     </div>
                   </div>


                