<div class="row feed">

 <div class="col-md-4">

<div class="container">
        <div class="row" style="margin-top:20px">

           
             
                    <div class="col-md-4">
                    <div class="row" style="margin-top:120px">

                    <img src="nitachat.png">
                    </div>
                  </div>

               
                    <div class="col-md-4">
                        <form role="form">
                        <fieldset>
                            <h2> Signup Here</h2>
                            <hr class="colorgraph">
                            <div class="form-group">
                            <div class="well well-sm">
                              <input type="text" class="form-control" size="30" placeholder="username" ng-model="username"><br>
                              </div>
                              </div>
                              <div class="form-group">
                              <div class="well well-sm">
                                 <input type="Password" class="form-control" size="30" placeholder="Password" ng-model="password"><br>
                                 </div>
                                 </div>
                                 <div class="form-group">
                                  <div class="well well-sm">
                                    <input type="text" class="form-control" size="30" placeholder="Email" ng-model="email"><br><br>
                                    </div>
                                    </div>
                                       <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="submitSignup()">Signup</button>
                                      
                                     </fieldset>
                                   </form>
                                 </div>
                               </div>
                             </div>
                             </div>
                             </div>
                           

